@model Model.EF.SocialInsurance

@{
    ViewBag.Title = "THÊM MỚI BHXH NHÂN VIÊN";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
@{
    var session = (MaiAmTruyenTin.Common.UserLogin)Session[MaiAmTruyenTin.Common.CommonConstants.USER_SESSION];
}
@section jsFooter {
    <script>

        var editor = CKEDITOR.replace('txtContent', {
            customConfig: '/Assets/admin/js/plugins/ckeditor/config.js',
        });
        WebFontConfig = {
            google: {
                families: [
                    'Source+Code+Pro:400,700:latin',
                    'Roboto:400,300,500,700,400italic:latin'
                ]
            }
        };
    </script>
}
<div id="page_content_inner">
    <h2 class="heading_b uk-margin-bottom">QUẢN LÝ BẢO HIỂM XÃ HỘI NHÂN VIÊN</h2>
    <div class="md-card uk-margin-large-bottom">
        <div class="md-card-content">
            <h3 style="border: 1px solid rgb(33, 150, 243); padding: 15px 15px; background-color: rgb(33, 150, 243); color: white; font-size: 15px;">THÊM MỚI BẢO HIỂM XÃ HỘI NHÂN VIÊN</h3>
            <div class="md-card-content">
                @using (Html.BeginForm("Create", "SocialInsurance", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-1 parsley-row">
                            <label>Tên nhân viên<span class="req">*</span></label>
                            @Html.DropDownListFor(model => model.EmployeeID, ViewBag.EmployeeName as SelectList, "", new { @class = "md-input" })
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-1 parsley-row">
                            <label>Mã số bảo hiểm y tế nhân viên<span class="req">*</span></label>
                            <input type="text" name="No" id="No" required class="md-input" />
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-1 parsley-row">
                            <label>Nơi đăng ký/ khám chữa bệnh<span class="req">*</span></label>
                            <input type="text" name="RegisteredHospital" id="RegisteredHospital" required class="md-input" />
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-2 parsley-row">
                            <label for="BoughtDate">Ngày mua<span class="req">*</span></label>
                            <input type="text" name="BoughtDate" required id="BoughtDate" class="md-input" data-parsley-date data-parsley-date-message="This value should be a valid date" data-uk-datepicker="{format:'MM/DD/YYYY'}" />
                        </div>
                        <div class="uk-width-medium-1-2 parsley-row">
                            <label for="EndDate">Ngày hết hạn<span class="req">*</span></label>
                            <input type="text" name="EndDate" required id="EndDate" class="md-input" data-parsley-date data-parsley-date-message="This value should be a valid date" data-uk-datepicker="{format:'MM/DD/YYYY'}" />
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-2 parsley-row">
                            <label>Ngày khởi tạo<span class="req">*</span></label>
                            <input type="text" name="CreatedDate" id="CreatedDate" readonly required class="md-input" value="@DateTime.Now.ToString()" />
                        </div>
                        <div class="uk-width-medium-1-2 parsley-row">
                            <label>Người khởi tạo<span class="req">*</span></label>
                            <input type="text" name="CreatedBy" id="CreatedBy" readonly required class="md-input" value="@session.Name" />
                        </div>
                    </div>

                    <div class="uk-grid">
                        <p class="uk-width-medium-1-1 parsley-row">
                            <label>Trạng thái sử dụng<span class="req">*</span></label>
                            <input type="checkbox" data-val="true" id="Status" name="Status" value="true" data-md-icheck>
                        </p>
                    </div>
                    <br />
                    <div class="uk-input-group">
                        <input type="submit" class="md-btn md-btn-primary" value="TẠO MỚI" />
                        <a href="@Url.Action("Index", "SocialInsurance")" class="md-btn md-btn-danger">HỦY BỎ</a>
                        <a href="@Url.Action("Index", "SocialInsurance")" class="md-btn md-btn-warning">QUAY LẠI DANH SÁCH</a>
                    </div>
                }
            </div>

        </div>
    </div>
</div>
<script>
    (function () {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
    })();
</script>