@model Model.EF.SocialInsurance

@{
    ViewBag.Title = "THÔNG TIN BHXH NHÂN VIÊN";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
.
<div id="page_content_inner">
    <h2 class="heading_b uk-margin-bottom">QUẢN LÝ BẢO HIỂM XÃ HỘI NHÂN VIÊN</h2>
    <div class="md-card uk-margin-large-bottom">
        <div class="md-card-content">
            <h3 style="border: 1px solid rgb(33, 150, 243); padding: 15px 15px; background-color: rgb(33, 150, 243); color: white; font-size: 15px;">THÔNG TIN CHI TIẾT</h3>
            <div class="md-card-content">
                <div class="uk-grid">
                    <div class="uk-width-medium-1-1 parsley-row">
                        <label>Tên nhân viên<span class="req">*</span></label>
                        <input readonly type="text" name="EmployeeID" id="EmployeeID" required class="md-input" value="@Model.EmployeeID" />
                    </div>
                </div>

                <div class="uk-grid">
                    <div class="uk-width-medium-1-1 parsley-row">
                        <label>Mã số bảo hiểm y tế nhân viên<span class="req">*</span></label>
                        <input readonly type="text" name="No" id="No" required class="md-input" value="@Model.No" />
                    </div>
                </div>

                <div class="uk-grid">
                    <div class="uk-width-medium-1-1 parsley-row">
                        <label>Nơi đăng ký/ khám chữa bệnh<span class="req">*</span></label>
                        <input readonly type="text" name="RegisteredHospital" id="RegisteredHospital" required class="md-input" value="@Model.RegisteredHospital" />
                    </div>
                </div>

                <div class="uk-grid">
                    <div class="uk-width-medium-1-2 parsley-row">
                        <label>Ngày cấp<span class="req">*</span></label>
                        <input readonly type="text" name="BoughtDate" id="BoughtDate" required class="md-input" value="@Model.BoughtDate" />
                    </div>
                    <div class="uk-width-medium-1-2 parsley-row">
                        <label>Ngày hết hạn<span class="req">*</span></label>
                        <input readonly type="text" name="EndDate" id="EndDate" required class="md-input" value="@Model.EndDate" />
                    </div>
                </div>

                <div class="uk-grid">
                    <div class="uk-width-medium-1-2 parsley-row">
                        <label>Ngày khởi tạo<span class="req">*</span></label>
                        <input readonly type="text" name="CreatedDate" id="CreatedDate" required class="md-input" value="@Model.CreatedDate" />
                    </div>
                    <div class="uk-width-medium-1-2 parsley-row">
                        <label>Người khởi tạo<span class="req">*</span></label>
                        <input readonly type="text" name="CreatedBy" id="CreatedBy" required class="md-input" value="@Model.CreatedBy" />
                    </div>
                </div>
                <div class="uk-grid">
                    <div class="uk-width-medium-1-2 parsley-row">
                        <label>Ngày chỉnh sửa<span class="req">*</span></label>
                        <input readonly type="text" name="ModifiedDate" id="ModifiedDate" required class="md-input" value="@Model.ModifiedDate" />
                    </div>
                    <div class="uk-width-medium-1-2 parsley-row">
                        <label>Chỉnh sửa bởi<span class="req">*</span></label>
                        <input readonly type="text" name="ModifiedBy" id="ModifiedBy" required class="md-input" value="@Model.ModifiedBy" />
                    </div>
                </div>

                <br />
                <div class="uk-input-group">
                    <a href="@Url.Action("Edit", "SocialInsurance", new { id = Model.ID})" class="md-btn md-btn-danger">CHỈNH SỬA</a>
                    <a href="@Url.Action("Index", "SocialInsurance")" class="md-btn md-btn-warning">QUAY LẠI DANH SÁCH</a>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    (function () {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
    })();
</script>