@model Model.EF.Employee

@{
    ViewBag.Title = "NHÂN VIÊN | THÔNG TIN CHI TIẾT";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div id="page_content_inner">
    <div class="md-card-single">
        <div class="md-card-content">
            <div class="row">
                <div class="col-md-4 col-lg-8" style="padding-top: 10px; padding-bottom: 10px">
                    <h1 class="heading_b uk-margin-bottom" style="color: rgb(101,159,19); font-weight: 1000; font-size: xx-large">QUẢN LÝ NHÂN VIÊN</h1>
                </div>
                <div class="col-md-4 col-lg-2">
                </div>

                <div class="col-md-4 col-lg-2">
                    <a class="btn btn-primary" href="/Admin/Employee/Index" title="Nhấn vào để xem danh sách nhân viên">XEM DANH SÁCH</a>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-grid" data-uk-grid-margin data-uk-grid-match id="user_profile">
        <div class="uk-width-large-7-10">
            <div class="md-card">
                <div class="user_heading">
                    <div class="user_heading_avatar">
                        <div class="thumbnail">
                            @if (Model.Image == null)
                            {
                                <img src="~/Assets/admin/img/avatars/user.png" alt="user avatar" />
                            }
                            else
                            {
                                <a href="@Model.Image" data-uk-lightbox="{group:'user-photos'}">
                                    <img src="@Model.Image" alt="user avatar" />
                                </a>
                            }
                        </div>
                    </div>
                    <div class="user_heading_content">
                        <h2 class="heading_b uk-margin-bottom">
                            <span class="uk-text-truncate">@Model.Name</span>
                            <span class="sub-heading">Giới tính: @Model.Gender</span>
                            <span class="sub-heading">Tuổi: @Html.Action("Age", new { id = Model.ID })</span>
                        </h2>
                    </div>
                    <a class="md-fab md-fab-small md-fab-accent" href="@Url.Action("Edit", "Employee", new { id = Model.ID })">
                        <i class="material-icons">&#xE150;</i>
                    </a>
                </div>
                <div class="user_content">
                    <ul id="user_profile_tabs" class="uk-tab" data-uk-tab="{connect:'#user_profile_tabs_content', animation:'slide-horizontal'}" data-uk-sticky="{ top: 48, media: 960 }">
                        <li class="uk-active"><a href="#">Thông tin cơ bản</a></li>
                        <li><a href="#">HỢP ĐỒNG LAO ĐỘNG</a></li>
                    </ul>
                    <ul id="user_profile_tabs_content" class="uk-switcher uk-margin">
                        <li>
                            <div class="uk-grid uk-margin-medium-top uk-margin-large-bottom" data-uk-grid-margin>
                                <div class="uk-width-large-1-2">
                                    <h4 class="heading_khanh" style="color: rgb(101,159,19); font-weight:500!important; font-size: medium; margin-bottom: 1rem">THÔNG TIN CƠ BẢN</h4>
                                    <ul class="md-list md-list-addon">
                                        <li>
                                            <div class="md-list-addon-element">
                                                <i class="md-list-addon-icon uk-icon-user"></i>
                                            </div>
                                            <div class="md-list-content">
                                                <span class="md-list-heading">@Model.Name</span>
                                                <span class="uk-text-small uk-text-muted">Họ và tên</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-addon-element">
                                                <i class="md-list-addon-icon uk-icon-indent"></i>
                                            </div>
                                            <div class="md-list-content">
                                                <span class="md-list-heading">@Model.IdentityCard</span>
                                                <span class="uk-text-small uk-text-muted">Chứng minh nhân dân</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-addon-element">
                                                <i class="md-list-addon-icon uk-icon-birthday-cake"></i>
                                            </div>
                                            <div class="md-list-content">
                                                <span class="md-list-heading">@Model.DateOfBirth.ToString("dd/MM/yyyy")</span>
                                                <span class="uk-text-small uk-text-muted">Ngày sinh</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-addon-element">
                                                <i class="md-list-addon-icon @if (Model.Gender == "Nam") { @Html.Raw("uk-icon-male")} else { @Html.Raw("uk-icon-female")}"></i>
                                            </div>
                                            <div class="md-list-content">
                                                <span class="md-list-heading">@Model.Gender</span>
                                                <span class="uk-text-small uk-text-muted">Giới tính</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-addon-element">
                                                <i class="md-list-addon-icon uk-icon-clock-o"></i>
                                            </div>
                                            <div class="md-list-content">
                                                <span class="md-list-heading">@Html.Action("Age", new { id = Model.ID })</span>
                                                <span class="uk-text-small uk-text-muted">Tuổi</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-addon-element">
                                                <i class="md-list-addon-icon uk-icon-home"></i>
                                            </div>
                                            <div class="md-list-content">
                                                <span class="md-list-heading">@Model.Domicile</span>
                                                <span class="uk-text-small uk-text-muted">Địa chỉ thường trú</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-addon-element">
                                                <i class="md-list-addon-icon uk-icon-phone"></i>
                                            </div>
                                            <div class="md-list-content">
                                                <span class="md-list-heading">@Model.Phone</span>
                                                <span class="uk-text-small uk-text-muted">Số điện thoại</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-addon-element">
                                                <i class="md-list-addon-icon uk-icon-info"></i>
                                            </div>
                                            <div class="md-list-content">
                                                <span class="md-list-heading">@Model.Email</span>
                                                <span class="uk-text-small uk-text-muted">Thư điện tử</span>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="md-list-addon-element">
                                                <i class="md-list-addon-icon uk-icon-language"></i>
                                            </div>
                                            <div class="md-list-content">
                                                <span class="md-list-heading">
                                                    @Model.Language
                                                </span>
                                                <span class="uk-text-small uk-text-muted">Chứng chỉ tiếng Anh</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-addon-element">
                                                <i class="md-list-addon-icon uk-icon-github"></i>
                                            </div>
                                            <div class="md-list-content">
                                                <span class="md-list-heading">
                                                    @Model.InformationTechnology
                                                </span>
                                                <span class="uk-text-small uk-text-muted">Chứng chỉ tin học</span>
                                            </div>
                                        </li>


                                    </ul>
                                </div>
                                <div class="uk-width-large-1-2">
                                    <h4 class="heading_khanh" style="color: rgb(101,159,19); font-weight:500!important; font-size: medium; margin-bottom: 1rem">CÔNG VIỆC</h4>
                                    <ul class="md-list">
                                        <li>
                                            <div class="md-list-content">
                                                <span class="md-list-heading" style="color: rgba(0,123,255,1)">@Model.Job</span>
                                                <span class="uk-text-small uk-text-muted">Công việc</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-content">
                                                <span class="md-list-heading" style="color: rgba(0,123,255,1)">@Model.JobName</span>
                                                <span class="uk-text-small uk-text-muted">Vị trí</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-content">
                                                <span class="md-list-heading" style="color: rgba(0,123,255,1)">@(Model.WorkingDate != null ? Model.WorkingDate.Value.ToString("dd/MM/yyyy") : "")</span>
                                                <span class="uk-text-small uk-text-muted">Ngày bắt đầu làm việc</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-content">
                                                <span class="md-list-heading" style="color: rgba(0,123,255,1)">@Model.WorkingHours</span>
                                                <span class="uk-text-small uk-text-muted">Số giờ làm việc</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-content">
                                                <span class="md-list-heading" style="color: rgba(0,123,255,1)">@(Model.WorkingContract.Value.ToString() == "True" ? "Chính thức" : "Thục tập")</span>
                                                <span class="uk-text-small uk-text-muted">Trạng thái làm việc</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-content">
                                                <span class="md-list-heading" style="color: rgba(0,123,255,1)">@Model.ContractType</span>
                                                <span class="uk-text-small uk-text-muted">Loại hợp đồng</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-content">
                                                <span class="md-list-heading" style="color: rgba(0,123,255,1)">@(Model.StartingSalagy != null ? Model.StartingSalagy.Value.ToString("#,##0") : "...") VNĐ</span>
                                                <span class="uk-text-small uk-text-muted">Lương khởi đầu</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-content">
                                                <span class="md-list-heading" style="color: rgba(0,123,255,1)">@(Model.GiftSalary != null ? Model.GiftSalary.Value.ToString("#,##0") : "...") VNĐ</span>
                                                <span class="uk-text-small uk-text-muted">Thưởng</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-content">
                                                <span class="md-list-heading" style="color: rgba(0,123,255,1)">@(Model.AllOtherFoodExpenses != null ? Model.AllOtherFoodExpenses.Value.ToString("#,##0") : "...") VNĐ</span>
                                                <span class="uk-text-small uk-text-muted">Chi phí khác</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="md-list-content">
                                                <span class="md-list-heading" style="color: rgba(0,123,255,1)">@Html.Action("DisplayEducation", new { id = Model.EducationID })</span>
                                                <span class="uk-text-small uk-text-muted">Học vấn</span>
                                            </div>
                                        </li>
                                        @if (Model.ProfessionalQualificationID == 0)
                                        {
                                            //ID bằng 0 thì không hiển thị trình độ chuyên môn kỹ thuật
                                        }
                                        else
                                        {
                                            <li>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading" style="color: rgba(0,123,255,1)">
                                                        @Html.Action("DisplayPQName", new { id = Model.ProfessionalQualificationID })
                                                        <span>ngành </span>@Html.Action("DisplayMajorName", new { id = Model.MajorID })
                                                    </span>
                                                    <span class="uk-text-small uk-text-muted">Chuyên môn kỹ thuật</span>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div id="user_profile_gallery" data-uk-check-display class="uk-grid-width-small-1-2" data-uk-grid="{gutter: 4}">
                                <div>
                                    @if (Model.Agreement != null)
                                    {
                                        <a href="/Admin/Employee/DownloadAgreement?agreement=@Model.Agreement" target="_blank">Nhấn vào để xem hợp đồng lao động!</a>
                                    }
                                    else
                                    {
                                        <a href="/he-thong/nhan-vien/chinh-sua/@Model.ID" target="_blank" style="color: red">Chưa có hợp đồng lao động! Nhấn vào để cập nhật!</a>
                                    }

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="uk-width-large-3-10">
            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-margin-medium-bottom">
                        <h3 class="heading_c uk-margin-bottom" style="font-weight: 1000">BẢO HIỂM XÃ HỘI</h3>
                        <ul class="md-list md-list-addon">
                            <li>
                                <div class="md-list-addon-element">
                                    <i class="md-list-addon-icon material-icons uk-text-warning">&#xE8B2;</i>
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">
                                        @{string nullData = "Chưa có dữ liệu";}
                                        @if (Html.Action("GetSocialInsuranceNo", new { id = Model.ID }).ToString() != nullData)
                                        {
                                            @Html.Action("GetSocialInsuranceNo", new { id = Model.ID })
                                        }
                                        else
                                        {
                                            <a title="Nhấn vào để khởi tạo" style="color: red" href="/he-thong/bao-hiem-xa-hoi/them-moi?ChildrenID=@Model.ID">
                                                @Html.Action("GetSocialInsuranceNo", new { id = Model.ID })
                                            </a>
                                        }
                                    </span>
                                    <span class="uk-text-small uk-text-muted uk-text-truncate">Mã bảo hiểm xã hội</span>
                                </div>
                            </li>
                            <li>
                                <div class="md-list-addon-element">
                                    @if (Model.Successive == true)
                                    {
                                        <img style='margin-top: 7px' src='~/Assets/admin/icons/pichon/icons8_checkmark_26px_1.png' />}
                                    else
                                    {
                                        <i class='md-list-addon-icon material-icons uk-text-warning'>&#xE8B2;</i>}
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">
                                        @if (Html.Action("GetSocialInsuranceNo", new { id = Model.ID }).ToString() != nullData)
                                        {
                                            @Html.Raw(Model.Successive == true ? "Liên tục" : "Không liên tục")
                                        }
                                        else
                                        {
                                            @Html.Action("GetSocialInsuranceNo", new { id = Model.ID })
                                        }
                                    </span>
                                    <span class="uk-text-small uk-text-muted uk-text-truncate">Liên tục</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <h3 class="heading_c uk-margin-bottom" style="font-weight: 1000">THÔNG TIN THÊM</h3>
                    <ul class="md-list md-list-addon uk-margin-bottom">
                        <li>
                            <div class="md-list-addon-element">
                                <i class="md-list-addon-icon  uk-text-success uk-icon-code"></i>
                            </div>
                            <div class="md-list-content">
                                <span class="md-list-heading">@Model.Code</span>
                                <span class="uk-text-small uk-text-muted">Mã nhân viên</span>
                            </div>
                        </li>

                        <li>
                            <div class="md-list-addon-element">
                                <i class="md-list-addon-icon uk-icon-info-circle"></i>
                            </div>
                            <div class="md-list-content">
                                <span class="md-list-heading">@Html.Action("DisplayReligion", new { id = Model.Religion })</span>
                                <span class="uk-text-small uk-text-muted">Tôn giáo</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    (function () {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
    })();
</script>