@model MaiAmTruyenTin.Areas.Admin.Models.ChangePasswordObject
@{
    ViewBag.Title = "ĐỔI MẬT KHẨU";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
@{
    var session = (MaiAmTruyenTin.Common.UserLogin)Session[MaiAmTruyenTin.Common.CommonConstants.USER_SESSION];
}

@section jsFooter {
    <script>
        $('#btnSelectImage').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImage').val(url);
            };
            finder.popup();
        })
        var editor1 = CKEDITOR.replace('txtDetails', {
            customConfig: '/Assets/admin/js/plugins/ckeditor/config.js',
        });
        var editor2 = CKEDITOR.replace('txtAchievements', {
            customConfig: '/Assets/admin/js/plugins/ckeditor/config.js',
        });
        var editor = CKEDITOR.replace('txtContent', {
            customConfig: '/Assets/admin/js/plugins/ckeditor/config.js',
        });
        WebFontConfig = {
            google: {
                families: [
                    'Source+Code+Pro:400,700:latin',
                    'Roboto:400,300,500,700,400italic:latin'
                ]
            }
        };
    </script>
}
<script>
    var state = false;
    function toggle() {
        if (state) {
            document.getElementById("Password").setAttribute("type", "password");
            document.getElementById("eye").style.color = '#7a797e';
            state = false;
        }
        else {
            document.getElementById("Password").setAttribute("type", "text");
            document.getElementById("eye").style.color = '#5887ef';
            state = true;
        }
    }
</script>
<style>
    #passwordSpan {
        padding-left: 490px;
        margin-left: 490px;
        top: 19%;
        position: absolute;
        cursor: pointer;
    }
</style>


<div id="page_content_inner">
    <h2 class="heading_b uk-margin-bottom">QUẢN LÝ TÀI KHOẢN</h2>
    <div class="md-card uk-margin-large-bottom">
        <div class="md-card-content">
            <h3 style="border: 1px solid rgb(33, 150, 243); padding: 15px 15px; background-color: rgb(33, 150, 243); color: white; font-size: 15px;">ĐỔI MẬT KHẨU</h3>
            <div class="md-card-content">
                @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-1 parsley-row">
                            <label class="md-input-wrapper md-input-filled">Mật khẩu hiện tại<span class="req">*</span></label>
                            <input type="hidden" class="md-input" value="password" />
                        </div>
                        <div class="uk-width-medium-1-1 parsley-row">
                            <input type="password" class="md-input" id="PasswordOld" name="PasswordOld" value="@Model.PasswordOld" />
                            <a href="" class="uk-form-password-toggle" data-uk-form-password>show</a>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-1 parsley-row">
                            <label class="md-input-wrapper md-input-filled">Mật khẩu mới<span class="req">*</span></label>
                            <input type="hidden" class="md-input" value="password" />
                        </div>
                        <div class="uk-width-medium-1-1 parsley-row">
                            <input type="password" class="md-input" id="PasswordNew" name="PasswordNew" value="@Model.PasswordNew" />
                            <a href="" class="uk-form-password-toggle" data-uk-form-password>show</a>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-1 parsley-row">
                            <label class="md-input-wrapper md-input-filled">Nhập lại mật khẩu<span class="req">*</span></label>
                            <input type="hidden" class="md-input" value="password" />
                        </div>
                        <div class="uk-width-medium-1-1 parsley-row">
                            <input type="password" class="md-input" id="ConfirmPasswordNew" name="ConfirmPasswordNew" value="@Model.ConfirmPasswordNew" />
                            <a href="" class="uk-form-password-toggle" data-uk-form-password>show</a>
                        </div>
                    </div>
                    <input type="hidden" name="id" id="id" value="@session.UserID" />
                    <br />
                    <div class="uk-grid">
                        <div class="uk-input-group">
                            <input type="submit" class="md-btn md-btn-primary" value="CẬP NHẬT" />
                            <a href="@Url.Action("Index", "Home")" class="md-btn md-btn-danger">HỦY BỎ</a>
                        </div>
                    </div>
                    
                }
            </div>

        </div>
    </div>
</div>
<script>
    (function () {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
    })();
</script>







