@using PagedList.Mvc;
@model  PagedList.IPagedList<Model.EF.Quote>
@{
    ViewBag.Title = "CẢM NHẬN CỦA TRẺ | DANH SÁCH";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    var session = (MaiAmTruyenTin.Common.UserLogin)Session[MaiAmTruyenTin.Common.CommonConstants.USER_SESSION];
}
@if (Model.Count() > 0)
{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <br />
    <h2 style="padding-left:23px" class="heading_b uk-margin-bottom">HÔM NAY BẠN CẢM THẤY THẾ NÀO?</h2>
    <div class="md-card">
        <div class="md-card-content">
            @using (Html.BeginForm("IndexChildren", "Quote", FormMethod.Get))
            {
                <div class="row">
                    <div class="col-md-4 col-lg-8">
                        <input style="border: none; border-bottom: 2px solid lightgray" type="text" value="@ViewBag.SearchString" placeholder="NHẬP TỪ KHÓA" class="form-control" name="searchString" />
                    </div>
                    <div class="col-md-4">
                        <input hidden name="ChildrenName" id="ChildrenName" value="@session.Name" />
                        <button type="submit" class="btn btn-success">TÌM KIẾM</button>
                        <a class="btn btn-primary" href="/Admin/Quote/IndexChildren?ChildrenName=@session.Name">TẤT CẢ</a>
                        <a class="btn btn-primary" href="/he-thong/cam-nhan-cua-tre/them-moi/">THÊM MỚI</a>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="md-card">
        <div class="md-card-content">
            <div class="uk-overflow-container uk-margin-bottom">
                <table class="uk-table uk-table-align-vertical uk-table-nowrap tablesorter tablesorter-altair" id="ts_pager_filter">
                    <thead>
                        <tr>
                            <th>MÃ</th>
                            <th>TÊN</th>
                            <th>CẢM NHẬN</th>
                            <th>NGÀY TẠO</th>
                            <th>TRẠNG THÁI</th>
                            <th class="filter-false remove sorter-false uk-text-center">TÙY CHỌN</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>MÃ</th>
                            <th>TÊN</th>
                            <th>CẢM NHẬN</th>
                            <th>NGÀY TẠO</th>
                            <th>TRẠNG THÁI</th>
                            <th class="filter-false remove sorter-false uk-text-center">TÙY CHỌN</th>
                        </tr>
                    </tfoot>.
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var link = "/he-thong/cam-nhan-cua-tre/chinh-sua/" + item.ID;
                            var link1 = "/he-thong/cam-nhan-cua-tre/chi-tiet/" + item.ID;
                            <tr id="@item.ID">
                                <td>@item.Code</td>
                                <td>@item.Name</td>
                                <td>
                                    <a href="@link1">
                                        @if (item.Quote1.Length > 50)
                                        {
                                            @String.Concat(item.Quote1.Substring(0, 50), "...")
                                        }
                                        else
                                        {
                                            @String.Concat(item.Quote1, "...")
                                        }
                                    </a>
                                </td>
                                @if (item.ModifiedDate == null)
                                {
                                    <td>@item.CreatedDate.Value.ToString("dd/MM/yyyy")</td>
                                }
                                else
                                {
                                    <td>@item.ModifiedDate.Value.ToString("dd/MM/yyyy")</td>
                                }
                                <td style="padding-left: 35px"><a id="status_@item.ID" onclick="ChangeStatus(@item.ID)">@(item.Status ? Html.Raw("<i class='material-icons uk-text md-color-light-blue-600 md-24'></i>") : Html.Raw("<i class='material-icons md-color-red-600 md-24'></i>"))</a></td>
                                <td class="uk-text-center">
                                    <a href="@link"><img src="~/Assets/admin/img/edit.png" style="width:30px"></a>
                                    <input type="hidden" class="DeleteID" value="@item.ID" />
                                    <a title="Xóa cảm nhận" class="removeByID"><img src="~/Assets/admin/img/delete.png" style="width:30px;"></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = ViewBag.SearchString }))
            </div>
        </div>
    </div>
}
else
{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <br />
    <h2 style="padding-left:23px" class="heading_b uk-margin-bottom">HÔM NAY BẠN CẢM THẤY THẾ NÀO?</h2>
    <div class="md-card">
        <div class="md-card-content">
            @using (Html.BeginForm("IndexChildren", "Quote", FormMethod.Get))
            {
                <div class="row">
                    <div class="col-md-4 col-lg-8">
                        <input style="border: none; border-bottom: 2px solid lightgray" type="text" value="@ViewBag.SearchString" placeholder="NHẬP TỪ KHÓA" class="form-control" name="searchString" />
                    </div>
                    <div class="col-md-4">
                        <input hidden name="ChildrenName" id="ChildrenName" value="@session.Name" />
                        <button type="submit" class="btn btn-success">TÌM KIẾM</button>
                        <a class="btn btn-primary" href="/Admin/Quote/IndexChildren?ChildrenName=@session.Name">TẤT CẢ</a>
                        <a class="btn btn-primary" href="/he-thong/cam-nhan-cua-tre/them-moi/">THÊM MỚI</a>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="md-card">
        <div class="md-card-content" style="padding-left: 24px">
            <p style="color: red">Bạn chưa viết cảm nhận nào!</p>
            <a class="btn btn-primary" href="/he-thong/cam-nhan-cua-tre/them-moi/">BẮT ĐẦU VIẾT!</a>
        </div>
    </div>

}



<script>
    let changeStatus = false;
    function ChangeStatus(id) {
        if (confirm("Bạn có chắc đổi không?")) {
            $.ajax({
                type: 'POST',
                url: '/Admin/Quote/ChangeStatus',
                data: { id: id },
                success: function (data) {
                    if (changeStatus == true) {
                        changeStatus = false;
                        loadingform();
                        location.reload();
                        $("#status_" + id).html("<i class='material-icons md-color-red-600 md-24'></i>");
                    }
                    else {
                        changeStatus = true;
                        loadingform();
                        location.reload();
                        $("#status_" + id).html("<i class='material-icons md-color-light-blue-600 md-24'></i>");
                    }
                },
                error: function () {
                    alert("Đã xảy ra lỗi! Vui lòng thử lại sau.")
                }
            })
        }
    }

    $('.removeByID').on('click', function () {
        var self = $(this);
        if (confirm("Bạn chắc xóa không?")) {
            loadingform();
            var MA = self.parent().find('.DeleteID').val();
            $.ajax({
                type: 'POST',
                url: '/Admin/Quote/Delete',
                data: { id: MA },
                success: function (data) {
                    self.parent().parent().remove();
                    unloadingform();
                },
                error: function () {
                    unloadingform();
                }
            })
        }
    });
</script>
