@model Model.EF.Counseling

@{
    ViewBag.Title = "THÔNG TIN PHIẾU THAM VẤN TÂM LÝ";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
.
<div id="page_content_inner">
    <h2 class="heading_b uk-margin-bottom">QUẢN LÝ PHIẾU THAM VẤN TÂM LÝ</h2>
    <div class="md-card uk-margin-large-bottom">
        <div class="md-card-content">
            <h3 style="border: 1px solid rgb(33, 150, 243); padding: 15px 15px; background-color: rgb(33, 150, 243); color: white; font-size: 15px;">THÔNG TIN CHI TIẾT</h3>
            <div class="md-card-content">
                <div class="uk-grid">
                    <div class="uk-width-medium-1-1 parsley-row">
                        <label>Họ và tên<span class="req">*</span></label>
                        <input readonly type="text" name="ChildrenID" id="ChildrenID" required class="md-input" value="@ViewBag.ChildrenName" />
                    </div>
                </div>

                <div class="uk-grid">
                    <div class="uk-width-medium-1-1 parsley-row">
                        <label>Vấn đề trẻ gặp phải<span class="req">*</span></label>
                        <input readonly type="text" name="Problem" id="Problem" required class="md-input" value="@Model.Problem" />
                    </div>
                </div>

                <div class="uk-grid">
                    <div class="uk-width-medium-1-1 parsley-row">
                        <label>Lần tham vấn<span class="req">*</span></label>
                        <input readonly type="text" name="Time" id="Time" required class="md-input" value="@Model.Time" />
                    </div>
                </div>

                <div class="uk-grid">
                    <div class="uk-width-medium-1-1 parsley-row">
                        <label>Mã phiếu tham vấn<span class="req">*</span></label>
                        <input readonly type="text" name="Ticket" id="Ticket" required class="md-input" value="@Model.Ticket" />
                    </div>
                </div>

                <div class="uk-grid">
                    <div class="uk-width-medium-1-1 parsley-row">
                        <label>Mô tả vấn đề<span class="req">*</span></label>
                        <textarea readonly type="text" name="Description" id="Description" required class="md-input">@Model.Description</textarea>
                    </div>
                </div>
                <div class="uk-grid">
                    <div class="uk-width-medium-1-1 parsley-row">
                        <label>Giải pháp<span class="req">*</span></label>
                        <textarea readonly type="text" name="Solution" id="Solution" required class="md-input">@Model.Solution</textarea>
                    </div>
                </div>
                <div class="uk-grid">
                    <div class="uk-width-medium-1-1 parsley-row">
                        <label>Phụ trách tham vấn<span class="req">*</span></label>
                        <input readonly type="text" name="Psychologist" id="Psychologist" required class="md-input" value="@Model.Psychologist" />
                    </div>
                </div>

                <div class="uk-grid">
                    <div class="uk-width-medium-1-2 parsley-row">
                        <label>Ngày khởi tạo phiếu<span class="req">*</span></label>
                        <input readonly type="text" name="CreatedDate" id="CreatedDate" required class="md-input" value="@Model.CreatedDate" />
                    </div>
                    <div class="uk-width-medium-1-2 parsley-row">
                        <label>Người khởi tạo<span class="req">*</span></label>
                        <input readonly type="text" name="CreatedBy" id="CreatedBy" required class="md-input" value="@Model.CreatedBy" />
                    </div>
                </div>
                <div class="uk-grid">
                    <div class="uk-width-medium-1-2 parsley-row">
                        <label>Ngày chỉnh sửa phiếu<span class="req">*</span></label>
                        <input readonly type="text" name="ModifiedDate" id="ModifiedDate" required class="md-input" value="@Model.ModifiedDate" />
                    </div>
                    <div class="uk-width-medium-1-2 parsley-row">
                        <label>Người chỉnh sửa phiếu<span class="req">*</span></label>
                        <input readonly type="text" name="ModifiedBy" id="ModifiedBy" required class="md-input" value="@Model.ModifiedBy" />
                    </div>
                </div>

                <br />
                <div class="uk-input-group">
                    <a href="@Url.Action("Edit", "Counseling", new { id = Model.ID})" class="md-btn md-btn-danger">CHỈNH SỬA</a>
                    <a href="@Url.Action("Index", "Counseling")" class="md-btn md-btn-warning">QUAY LẠI DANH SÁCH</a>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    (function () {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
    })();
</script>