@using PagedList.Mvc;
@model  PagedList.IPagedList<Model.EF.Activity>

@{
    ViewBag.Title = "TÌM KIẾM BÀI VIẾT HOẠT ĐỘNG";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .activies {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 900px;
        padding: 40px 20px;
        margin: 0 auto;
    }

        .activies section {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 40px 0;
        }

            .activies section h2 {
                font-size: 2em !important;
                margin: 20px 0;
            }

        .activies h1 {
            font-size: 2em !important;
        }

        .activies a {
            font-weight: bold;
            color: #242a6f !important;
        }

    .activies__highlight {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    .activies__highlight__item {
        border-radius: 5px;
        background-color: #ececec;
        overflow: hidden;
    }

        .activies__highlight__item:first-child {
            grid-column: span 2;
        }

    .activies__highlight__item__picture img {
        width: 100%;
    }

    .activies__highlight__item__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 20px;
    }

        .activies__highlight__item__content p:last-child {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            font-style: italic;
            color: #868686 !important;
        }

    .activies__other {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 20px;
    }

    .activies__other__item {
        border-radius: 8px;
        overflow: hidden;
    }

    .activies__other__item__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .activies__other__item__content a {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-align: center;
            font-style: italic;
            color: #868686 !important;
        }
</style>
<div class="component osw-homepage osw-page-content-offset-none">
    <div class="component-content">
        <div class="osw-page-header">
            <div class="component osw-gridcontainerline grid-container full">
                <div class="component osw-gridx grid-x">
                    <div class="component osw-contentblock osw-contentblock-imagefull osw-contentblock-imagefull-contentposition-010 osw-contentblock-imagefull-update cell small-12 medium-12 large-12 osw-bgfiltercolor-black osw-bgfilteropacity-030 osw-bgstrength-dark osw-color-white osw-contentblock-imagefull-cover osw-contentblock-titlesize-h2 osw-minheight-medium osw-paddingbottom-large osw-paddingtop-2large osw-paddingright-2large osw-paddingleft-2large text-center">
                        <div class="component-content">
                            <div class="osw-contentblock-imagefull-container">
                                <div class="osw-contentblock-imagefull-container-img">
                                    <img src="/Assets/client/img/matt2.jpg" id="banner-img" alt="Banner" width="5197" height="3465" data-variantitemid="{2EC5E74F-07DD-4E3A-A74C-D96317D20023}" data-variantfieldname="Main Image">
                                </div>
                                <div class="osw-contentblock-imagefull-container-content">
                                    <div class="osw-contentblock-imagefull-container-content-top">
                                        <div class="osw-contentblock-title">
                                            <h1 class="field-title" style="text-transform: uppercase;">
                                                Mái Ấm Truyền Tin
                                            </h1>
                                            <h1 class="field-title" style="text-transform: uppercase;">
                                                ngôi nhà chung của các trẻ
                                            </h1>
                                        </div>
                                    </div>
                                    <div class="osw-contentblock-imagefull-container-content-middle">
                                        <div class="osw-contentblock-maintext field-text mt-3">
                                            Đây sẽ là một đoạn văn ngắn gọn trong 1 dòng. Mô tả một nội dung bất kỳ mà mái ấm muốn truyền đạt cho mọi người.
                                        </div>
                                        <form class="form-group form-inline my-5 bg-white p-3" id="search-nav" action="@Url.Action("Find", "Activity")" method="GET">
                                            <input class="form-control m-0 h-100" type="text" name="searchString" value="@ViewBag.SearchString" placeholder="Gõ vào đây để tìm kiếm" aria-label="Search">
                                            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                                        </form>
                                    </div>
                                    <div class="osw-contentblock-imagefull-container-content-bottom">
                                        <div class="osw-contentblock-additionaltext field-additional-text">
                                            Mái Ấm Truyền Tin, một mái ấm cho mọi nhà.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="activies">
    <h1>Có @Model.Count() kết quả tìm kiếm cho "@ViewBag.SearchString"</h1>
    <p style="color: red">Đã tìm từ khóa này vào lúc @DateTime.Now.ToString("hh:mm:ss tt")</p>
    <br />
    <div class="activies__other">
        @foreach (var item in Model)
        {
            <article class="activies__other__item">
                <div class="activies__other__item__picture">
                    <img src="@Url.Content(item.Image)" />
                </div>
                <div class="activies__other__item__content">
                    @{var link = "/hoat-dong-chi-tiet/" + item.ID;}
                    <a href="@link">@item.Name</a>
                    <p>@item.CreatedDate.Value.ToString("dd/MM/yyyy")</p>
                </div>
            </article>
        }
    </div>
    @Html.PagedListPager(Model, page => Url.Action("Find", new { page, @searchString = ViewBag.SearchString }))
    <br />
</div>
