@model Model.EF.Cost

@{
    ViewBag.Title = "CHI PHÍ | CHỈNH SỬA";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    var session = (MaiAmTruyenTin.Common.UserLogin)Session[MaiAmTruyenTin.Common.CommonConstants.USER_SESSION];
}
<div id="page_content_inner">
    <h2 class="heading_b uk-margin-bottom">QUẢN LÝ CHI PHÍ</h2>
    <div class="md-card uk-margin-large-bottom">
        <div class="md-card-content">
            <h3 style="border: 1px solid rgb(33, 150, 243); padding: 15px 15px; background-color: rgb(33, 150, 243);
                color: white; font-size: 15px;">
                CHỈNH SỬA CHI PHÍ
            </h3>
            <div class="md-card-content">
                @using (Html.BeginForm("Edit", "Cost", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-1 parsley-row">
                            <label>@Html.DisplayNameFor(model => model.Code)<span class="req">*</span></label>
                            @Html.TextBoxFor(model => model.Code, new { @class = "md-input form-control" })
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-1 parsley-row">
                            <div class="md-input-wrapper md-input-filled">
                                <label>@Html.DisplayNameFor(model => model.CostCategoryID)<span class="req">*</span></label>
                                @Html.DropDownListFor(model => model.CostCategoryID, ViewBag.CategoryName as SelectList, "--Chọn loại chi phí--", new { @class = "md-input" })
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-1 parsley-row">
                            <label>@Html.DisplayNameFor(model => model.Name)<span class="req">*</span></label>
                            @Html.TextBoxFor(model => model.Name, new { @class = "md-input form-control" })
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-1 parsley-row">
                            <label>@Html.DisplayNameFor(model => model.Date)<span class="req">*</span></label>
                            @Html.TextBoxFor(model => model.Date, new { @class = "md-input form-control" })
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-1 parsley-row">
                            <label>@Html.DisplayNameFor(model => model.EmployeeID)<span class="req">*</span></label>
                            @Html.DropDownListFor(model => model.EmployeeID, ViewBag.EmployeeName as SelectList, "--Chọn tên người mua--", new { @class = "md-input" })
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-1 parsley-row">
                            <label>@Html.DisplayNameFor(model => model.Amount)<span class="req">*</span></label>
                            @Html.TextBoxFor(model => model.Amount, new { @class = "md-input form-control" })
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-1 parsley-row">
                            <label>@Html.DisplayNameFor(model => model.Description)<span class="req">*</span></label>
                            @Html.TextBoxFor(model => model.Description, new { @class = "md-input form-control" })
                        </div>
                    </div>

                    <div class="uk-grid">
                        <div class="uk-width-medium-1-2 parsley-row">
                            <label>Ngày chỉnh sửa<span class="req">*</span></label>
                            <input type="text" id="ModifiedDate" name="ModifiedDate" value="@DateTime.Now.ToString()" class="md-input" />
                        </div>
                        <div class="uk-width-medium-1-2 parsley-row">
                            <label>Chỉnh sửa bởi<span class="req">*</span></label>
                            <input type="text" name="ModifiedBy" id="ModifiedBy" required class="md-input" value="@session.Name" />
                        </div>
                    </div>

                    <div class="uk-grid">
                        <p class="uk-width-medium-1-2 parsley-row">
                            <label>Trạng thái sử dụng<span class="req">*</span></label>
                            <input type="checkbox" data-val="true" id="Status" name="Status" data-md-icheck>
                        </p>
                    </div>
                    <br />
                    <div class="uk-input-group">
                        <input type="submit" class="md-btn md-btn-primary" value="CẬP NHẬT" />
                        <a href="@Url.Action("Index", "Cost")" class="md-btn md-btn-danger">HỦY BỎ</a>
                        <a href="@Url.Action("Index", "Cost")" class="md-btn md-btn-warning">QUAY LẠI DANH SÁCH</a>
                    </div>
                }
            </div>

        </div>
    </div>
</div>
<script>
    (function () {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
    })();
</script>