@model Model.EF.ReceivePayObject

@{
    ViewBag.Title = "THÊM MỚI ĐỐI TƯỢNG THU CHI";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    var session = (MaiAmTruyenTin.Common.UserLogin)Session[MaiAmTruyenTin.Common.CommonConstants.USER_SESSION];
}
@section jsFooter{
    <script>
        $('#btnSelectImage').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImage').val(url);
            };
            finder.popup();
        })
        var editor1 = CKEDITOR.replace('txtDetails', {
            customConfig: '/Assets/admin/js/plugins/ckeditor/config.js',
        });
        var editor2 = CKEDITOR.replace('txtAchievements', {
            customConfig: '/Assets/admin/js/plugins/ckeditor/config.js',
        });
        function setCode(objName) {
            const fullName = new String("");
            fullName.value = objName.value;
        }
    </script>

}
<div id="page_content_inner">
    <h2 class="heading_b uk-margin-bottom">QUẢN LÝ THÔNG TIN ĐỐI TƯỢNG THU CHI</h2>
    <div class="md-card uk-margin-large-bottom">
        <div class="md-card-content">
            <h3 style="border: 1px solid rgb(33, 150, 243); padding: 15px 15px; background-color: rgb(33, 150, 243); color: white; font-size: 15px;">THÊM MỚI ĐỐI TƯỢNG THU CHI</h3>
            <div class="md-card-content">
                @using (Html.BeginForm("Create", "ReceivePayObject", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <label>Tên đối tượng thu chi<span class="req">*</span></label>
                            <input type="text" name="Name" id="Name" class="md-input" required />
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-2">
                            <label>Đơn vị<span class="req">*</span></label>
                            <input type="text" name="AffiliatedUnit" id="AffiliatedUnit" class="md-input" required />
                        </div>
                        <div class="uk-width-1-2">
                            <label>Địa chỉ<span class="req">*</span></label>
                            <input type="text" name="Address" id="Address" class="md-input" required />
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-2">
                            <label>Số điện thoại<span class="req">*</span></label>
                            <input type="number" name="Phone" id="Phone" class="md-input" required />
                        </div>
                        <div class="uk-width-1-2">
                            <label>Số Fax<span class="req">*</span></label>
                            <input type="number" name="Fax" id="Fax" class="md-input" required />
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-2">
                            <label>Địa chỉ website<span class="req">*</span></label>
                            <input type="text" name="Website" id="Website" class="md-input" required />
                        </div>
                        <div class="uk-width-1-2">
                            <label>Địa chỉ email<span class="req">*</span></label>
                            <input type="email" name="Email" id="Email" class="md-input" required />
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-2">
                            <label>Ngân hàng sử dụng<span class="req">*</span></label>
                            @Html.DropDownListFor(model => model.BankID, ViewBag.BankName as SelectList, "", new { @class = "md-input", required = "required" })
                        </div>
                        <div class="uk-width-1-2">
                            <label>Số tài khoản<span class="req">*</span></label>
                            <input type="number" name="BankingNumber" id="BankingNumber" class="md-input" required />
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <div class="md-input-wrapper md-input-filled">
                                <label>Chủ thẻ<span class="req">*</span></label>
                                <input type="text" name="HolderName" id="HolderName" class="md-input" required />
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <label>Phân loại đối tượng thu chi<span class="req">*</span></label>
                            @Html.DropDownListFor(model => model.CategoryID, ViewBag.CategoryName as SelectList, "", new { @class = "md-input", required = "required" })
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-medium-1-1 parsley-row">
                            <label>Ghi chú<span class="req">*</span></label>
                            <textarea name="Note" id="Note" required class="md-input"></textarea>
                        </div>
                    </div>

                    <div class="uk-grid">
                        <div class="uk-width-medium-1-2 parsley-row">
                            <label>Ngày khởi tạo<span class="req">*</span></label>
                            <input type="text" name="CreatedDate" id="CreatedDate" readonly required class="md-input" value="@DateTime.Now.ToString()" />
                        </div>
                        <div class="uk-width-medium-1-2 parsley-row">
                            <label>Người khởi tạo<span class="req">*</span></label>
                            <input type="text" name="CreatedBy" id="CreatedBy" readonly required class="md-input" value="@session.Name" />
                        </div>
                    </div>
                    <br />
                    <div class="uk-input-group">
                        <input type="submit" class="md-btn md-btn-primary" value="Tạo mới" />
                        <a href="@Url.Action("Index", "ReceivePayObject")" class="md-btn md-btn-danger">HỦY BỎ</a>
                        <a href="@Url.Action("Index", "ReceivePayObject")" class="md-btn md-btn-warning">QUAY LẠI DANH SÁCH</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>
    (function () {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
    })();
</script>